@import 'variables';

:root {
  color: $primary;
  background-color: $bg-primary;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  background-color: $bg-primary;
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}
